.nav-bar {
	height: 35px;
	width: 320px;
	background: white;
	position: fixed;
	left: -5px;
	top: 0px;
	border-bottom: 1px solid lightgray;
	box-shadow: 0px 15px 10px -15px #6F6F6F;
	opacity: .95;
	z-index: 1;
}

.nav-bar__border {
	height: 35px;
	width: 320px;
	background: white;
	position: fixed;
	right: -5px;
	top: 0px;
	border-bottom: 1px solid lightgray;
	border-left: 0px;
	box-shadow: 0px 15px 5px -15px #6F6F6F;
	z-index: 0;
}

.nav-bar__image {
	height: 25px;
	width: auto;
	position: fixed;
	top: 9px;
	left: 10px;
	z-index: 2;
}

.nav-bar__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	position: relative;
	top: 2px;
}

.nav-bar__list a {
	color: #6F6F6F;
	text-decoration: none;
}

.nav-bar__list a:hover {
	color: black;
	cursor: pointer;
	transition-duration: 300ms; 
}

.nav-bar__list a:visited {
	color: black;
}

.nav-bar__items {
	font-family: 'Karla', sans-serif;
	position: relative;
	left: -30px;
	top: -5px;
	margin-left: 40px;
}

.page-body__image {
	border-radius: 20%;
	position: relative;
	left: 15%;
	top: 20px;
	height: 70%;
	width: 70%;
}

.page-body__heading {
	position: relative;
	left: 30px;
	text-decoration: underline;
	text-shadow: .5px .5px .5px #6f6f6f;
}

.page-body__text {
	font-family: 'Lora', serif;
	padding: 20px 25px;
	position: relative;
	left: 15px;
}

.page-body__list {
	list-style: square;
}

.page-body__li {
	padding-top: 10px;
	position: relative;
	left: -10px;
}